# Datos (no versionar datasets)
data/raw/*.parquet
data/transformed/
*.duckdb

# Dataset fuente del curso (SÍ versionar — excepción explícita)
!data/raw/superstore.csv

# dbt
dbt_project/target/
dbt_project/.user.yml
dbt_project/logs/

# Python
__pycache__/
*.py[cod]
.env
.venv/

# Prefect
.prefect/

# Jupyter
.ipynb_checkpoints/

# Sistema operativo
.DS_Store
Thumbs.db
